@use "../../styles/variables";

.animal-card {
  display: flex;
  background-color: variables.$color-beige;
  padding: variables.$spacing-lg;
}

.animal-card__img-container {
  width: 40%;
  margin-right: variables.$spacing-m;

  img {
    width: 100%;
  }
}

.animal-card__info {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60%;

  p {
    margin-bottom: variables.$spacing-s;
  }
}

.animal-card__status {
  font-size: variables.$font-size-xs;

  span {
    font-weight: 600;
  }

  strong {
    font-weight: normal;
  }
}

.animal-card__btn {
  align-self: flex-end;
  margin-top: auto;

  &:hover {
    transform: none;
  }

  button {
    font-size: variables.$font-size-s;
    width: 150px;
    margin-top: variables.$spacing-m;
    padding: variables.$spacing-s;
    border: none;
    border-radius: 5px;
    background-color: variables.$color-btn;
    color: variables.$color-text;
    box-shadow: 2px 2px 4px grey;
    transition: background-color 0.3s ease-in;
    cursor: pointer;

    &:hover {
      background-color: variables.$color-btn-hover;
    }
  }
}

@media screen and (max-width: 768px) {
  .animal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: variables.$spacing-s;
    padding: variables.$spacing-lg;
  }

  .animal-card__info {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: left;
  }
}
