$font-title: "Englebert", sans-serif;
$font-text: "Roboto", sans-serif;
$font-size-s: 1rem;
$font-size-icons: 3rem;

$spacing-xs: 0.3rem;
$spacing-s: 0.5rem;
$spacing-m: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;

$background-color-heading: rgb(250, 81, 47);
$color-text: rgb(255, 255, 255);
