@use "../../styles/variables";

.navigation {
  display: flex;
  list-style: none;
  font-weight: 500;
  text-transform: uppercase;

  li {
    margin-right: variables.$spacing-lg;

    &:last-child {
      margin-right: 0;
    }

    a {
      color: variables.$color-darkgreen;
      text-decoration: none;

      svg {
        font-size: variables.$font-size-xs;
        margin-right: 5px;
      }
    }

    .active {
      border-bottom: 2px solid variables.$color-red;
      transform: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    margin: variables.$spacing-m 0;
  }
}
