@use "../../styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: rgb(243, 239, 224);
  background-size: cover;
  background-position: bottom 35% center;
  padding: variables.$spacing-xl;
  box-shadow: 0 4px 10px -2px rgba(37, 44, 36, 0.5);
}
