@use "../../styles/variables";

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  padding: variables.$spacing-xl;
  box-shadow: 5px 5px 10px rgba(161, 165, 151, 0.7);
  background-color: rgba(250, 236, 224, 0.491);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    padding-top: variables.$spacing-m;
    height: 100px;
  }
}
