@use "../../styles/variables";

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgb(225, 217, 186) 0,
      transparent 50%
    ),
    url("../../assets/pexels-pixabay-159414.jpg");
  background-size: cover;
  background-position: bottom 55% center;
  height: 100dvh;
  padding: 8rem 8rem 4rem 4rem;
}

.footer__list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: variables.$spacing-lg;
  letter-spacing: 1px;
  font-weight: 500;

  a {
    color: variables.$color-text;
    text-decoration: none;
  }

  ul {
    list-style: none;

    li {
      margin: variables.$spacing-xs 0;
    }
  }
}

.footer__list-container--socialmedia {
  ul {
    display: flex;

    li {
      margin-right: variables.$spacing-m;
    }
  }
}

.footer__socialmedia {
  font-size: variables.$font-size-icons;
  color: variables.$color-text;
}

.footer__location {
  color: rgb(237, 205, 255);
  margin-bottom: variables.$spacing-xl;
  margin-right: variables.$spacing-s;
}

@media screen and (max-width: 768px) {
  .footer {
    align-items: flex-start;
    padding: 8rem 2rem 0 2rem;
    background-image: linear-gradient(
        to right,
        rgb(48, 76, 48) 0,
        transparent 60%
      ),
      url("../../assets/pexels-pixabay-159414.jpg");
    background-size: cover;
    background-position: left;
  }
}
